<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <% if obj.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-body">
          <h3><%= pluralize(obj.errors.count, "error") %> prevented the changes to be made:</h3>
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= form_for(obj, :html => { class: "form-horizontal", role:"form" }) do |f| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :username %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :username, class:"form-control", placeholder: "Enter username", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class:"form-control", placeholder: "Enter email", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class:"form-control", placeholder: "Enter password", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class:"btn btn-primary") %>
    </div>
  </div>
</div>
</div>
<% end %>

<p align="center">[ <%= link_to "Return to articles page", articles_path %> ]</p>
